.patch-container {
    display: inline-flex;
    padding: 10px;
    background-color: #fff;
    border: 2px dashed #000;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    position: relative;
}

.patch-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.patch-container::before,
.patch-container::after {
    content: '';
    position: absolute;
    border: 1px dashed #000;
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.patch-container::before {
    top: -6px;
    left: -6px;
}

.patch-container::after {
    bottom: -6px;
    right: -6px;
}